body {
    margin: 0;
}

h1, h2, h3, p {
    font-family: 'Righteous', cursive;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 20pt;
}

p {
    margin: 40px 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

/* HEADER */

header {
    background-color: purple;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 -15px 22px 30px rgba(0, 0, 0, 0.75);
    z-index: 100;
    color: white;
}

.header-main-link h1 {
    display: inline-block;
}

.header-main-link i {
    vertical-align: center;
    font-size: 25pt;
    margin-right: 15px;
}

/* MAIN */

main {
    margin: 50px auto;
}

article {
    margin: 30px 0;
}

/* FOOTER */

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkslategrey;
}

footer a {
    color: lightgoldenrodyellow;
    font-size: 2.5rem;
    display: block;
    padding: 5px;
    margin: 0 10px;
    transition: .4s;
}

footer a:hover {
    color: white;
    transition: .8s;
}

.image-with-heading-and-content {
    display: flex;
}

.image-with-heading-and-content img {
    border-radius: 10px;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.55);
}

@media(max-width: 1000px) {
    .image-with-heading-and-content {
        flex-direction: column;
        align-items: center;
    }
    .image-with-heading-and-content img {
        width: 60%;
        margin: 0 auto;
        margin: 10px;
    }
    main {
        width: 90%;
        text-align: center;
    }
}

/* To be refactored */

@media(max-width: 550px) {
    .image-with-heading-and-content img {
        width: 90%;
    }
}

@media(min-width: 1001px) {
    .image-with-heading-and-content {
        flex-direction: row;
        align-items: center;
    }
    .image-with-heading-and-content img {
        width: 45%;
        height: 100%;
        margin-left: 30px;
    }
    .heading-and-content {
        width: 55%;
    }
    main {
        width: 50%;
    }
}