header{
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: darkmagenta;
  padding: 30px 0;
  font-family: "Helvetica";
}

p{
  font-family: "Helvetica";
  text-align: center;
  background-color: #888888;
  color: black;
}

body{
  margin: 0;
}


.ButtonHolder{
  font-family: "Helvetica";
  color: black;
  background: navajowhite;
  border-radius: 10px;
  width: 120px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ButtonHolder button{

}
a{
  color: #999999;
}

