p{
  color: white;
  text-align: center;
}
header{
  color: white;
  font-family: "Comic Sans MS";
  text-align: center;
  padding: 30px 0;
  background: darkmagenta;
}
body{
  font-family: "Comic Sans MS";
  background: whitesmoke;
  margin: 0 auto;

}
.ButtonHolder{
  color: black;
  background: navajowhite;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.TextContainer{
  font-size: 28px;
  width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 30px;
  background: #888888;
  border-radius: 12px;
}
.HeaderBackGround{
  width: auto;
  height: auto;
  margin: 0 auto;

}
.CatPicture{
  background-color: #b3d4fc;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
}
